{% extends 'app/base.djt.html' %}
{% block title %}My City | Register{% endblock %}

{% block info %}

    <div class="container page_info">
        <div class="col_md_12">
            <h1>Blog</h1>
            <p class="lead">You can use all Bootstrap plugins purely through the markup API without writing a single
                line of JavaScript. This is Bootstrap's first-class API and should be your first consideration when
                using a plugin.</p>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container contant">
        <div class="row cont">

            <!--content-->
            <div class="col-md-12 basic">

                <div class="place_li_cont">


                    <!--Blog post style one-->
                    <div class="post p_style_one">
                        <div class="post_info">
                            <h2><a href="08.html">Drones map algae growing underwater on Antarctic ice</a><span></span>
                            </h2>
                            <div class="p_text">
                                You can use all Bootstrap plugins purely through the markup API without writing a single
                                line of JavaScript. This is Bootstrap's first-class API and should be your first
                                consideration when using
                            </div>
                            <div class="p_footer">
                                <ul>
                                    <li><a href="08.html"><i class="fa fa-tags"></i>Rest</a></li>
                                    <li><a href="08.html"><i class="fa fa-comments"></i>193 comments</a></li>
                                    <li><a href="08.html"><i class="fa fa-calendar"></i>23.01.2014</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!--Blog post style two-->
                    <div class="post p_style_two"   >
                        <div class="post_info">
                            <div class="arrow"></div>
                            <h2><a href="08.html">Chimps and gorillas desperately need an Ebola vaccine
                                too</a><span></span></h2>
                            <div class="p_text">
                                <p>There is a side to the Ebola crisis that, perhaps understandably, has received little
                                    media attention: the threat it poses to our nearest cousins, the great apes of
                                    Africa. At this moment in time Ebola is the single greatest threat to the survival
                                    of gorillas and chimpanzees.</p>
                                <p>The virus is even more deadly for other great apes as it is for humans, with
                                    mortality rates approximately 95%</p>
                            </div>
                            <div class="p_footer">
                                <ul>
                                    <li><a href="08.html"><i class="fa fa-tags"></i>Rest</a></li>
                                    <li><a href="08.html"><i class="fa fa-comments"></i>193 comments</a></li>
                                    <li><a href="08.html"><i class="fa fa-calendar"></i>23.01.2014</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!--morebtn-->
                <a href="#" class="more_btn">Load more</a>
            </div>
        </div>
    </div>
{% endblock %}